.w-full {
     width: 100%;
}

.w-3-6 {
     width: 50%;
}

.h-3-6 {
     height: 50%;
}

.fixed {
     position: fixed;
}

.absolute {
     position: absolute;
}

.top-0 {
     top: 0;
}

.left-0 {
     left: 0;
}

.right-0 {
     right: 0;
}

.bottom-0 {
     bottom: 0;
}

.h-full {
     height: 100%;
}

.flex-1 {
     flex: 1;
}

.w-screen {
     width: 100vw;
}

.h-screen {
     height: 100vh;
}

.flex {
     display: flex;
}

.flex-col {
     flex-direction: column;
}

.justify-center {
     justify-content: center;
}

.items-center {
     align-items: center;
}

.bg-black {
     background-color: black;
}

.bg-white {
     background-color: white;
}

.bg-red {
     background-color: red;
}

.p-2 {
     padding: 0.5rem;
}

.p-4 {
     padding: 1rem;
}

.m-2 {
     margin: 0.5rem;
}

.m-4 {
     margin: 1rem;
}